.box {
  position: relative;
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 5px;
  top: 0;
  /* transition: 0.5s; */
}

/* .box:hover {
  top: 10px;
} */

.box:active {
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    background-color:white;
  }
  50% {
    background-color: black;
    transform: scale(.5);
  }
  100% {
    background-color: white;
  }
}

