body {
  vertical-align: middle; 
  height: 200px;
}

img {
  width: 200px;
  display: inline-block;
}

h1 {
  margin: 0;
  display: inline-block;
  width: 200px;
  position: relative;
  top: -75px; 
  left: 50px;
}